body {
  margin: 10 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pageTitle {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,p {
  margin: 0;
}

h1 {
  font-size: 2.5em;
}
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .focus circle {
        fill: steelblue;
    }

    .tooltip {
        width: 94px;
        padding: 4px 10px;
        border: 1px solid #aaa;
        border-radius: 4px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
        position: absolute;
        background-color: white;
        font-size: 14px;
        pointer-events: none;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
    }

    .tooltip div {
        margin: 3px 0;
    }

   .y-axis line {
    stroke: #eeeeee;
   }

   .grid line {
    stroke: #eeeeee;
   }

   .grid path {
    stroke-width: 0;
   }

   .x-axis path, .y-axis path {
    stroke-width: 0;
   }
